.idea
product-service/docker-credentials.env

**/HELP.md
**/.gradle
**/build/
**/!gradle/wrapper/gradle-wrapper.jar
**/!**/src/main/**/build/
**/!**/src/test/**/build/

### STS ###
product-service/.apt_generated
product-service/.classpath
product-service/.factorypath
product-service/.project
product-service/.settings
product-service/.springBeans
product-service/.sts4-cache
product-service/bin/
product-service/!**/src/main/**/bin/
product-service/!**/src/test/**/bin/

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out/
**/!**/src/main/**/out/
**/!**/src/test/**/out/